* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}


/* Ejemplo de grid, para el sitio web */
body {
    max-width: 1600px;
    margin: auto;

    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 6rem 1fr 10rem;
}